<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Medichat</title>

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}" />

    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
  </head>
  <body>
    <h1>Medichat</h1>
    <p>Ask me any medical question...</p>
    <p>ingestion time {{ ingestion_time }}</p>
    <div>
      <div id="chatbot">
        <p class="bot-text"><span>Hi there</span></p>
      </div>
      <div id="user-input">
        <input
          type="text"
          name="userMessage"
          id="text-input"
          placeholder="Post the symptom or diagnosis..." />
        <input type="submit" value="Send" id="button-input" />
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>

  </body>
</html>

